// SIMPLE CALCULATOR
@use './colors';
@use './mixins';

.calculator {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);

	&__btn {
		@include mixins.btnStyles;

		&-ac {
			grid-column: 1/3;
		}

		&-equal {
			grid-column: 3/5;
			background-color: #da7f8f;
		}
	}
}
