// SIMPLE CALCULATOR
@use './colors';

.calculator {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);

	&__btn {
		height: 50px;
		background-color: colors.$blue;
		color: colors.$dark;
		font-family: 'Montserrat', sans-serif;
		font-size: 2rem;
		font-weight: bold;
		border: 1px solid 
		colors.$dirty-white;
        cursor: pointer;
		transition: transform 0.3s;

		&:hover {
			transform: scale(0.9);
		}

		&-ac {
			grid-column: 1/3;
		}

		&-equal {
			grid-column: 3/5;
			background-color: #da7f8f;
		}
	}
}