// TEMPEATURE CONVERTER
@use './colors';
@use './mixins';

.converter {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5em;

	&__title {
		font-size: 3rem;
		color: #b52371;
	}

	&__placeholder {
		@include mixins.placeholder;
	}

	&__btn {
		@include mixins.btnStyles;
		width: fit-content;
		padding: 0 1em;
		margin: 1em;
	}
}
