// TIP CALCULATOR
@use './colors';
@use './mixins';

.tip {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2.5em;

	&__title {
		font-size: 2.5rem;
		color: #b52371;
	}

	&__placeholder {
		@include mixins.placeholder;
	}

	&__rate {
		&-title {
			font-size: 2rem;
			margin-top: 1em;
		}

		&-btn {
			@include mixins.btnStyles;
			padding: 1em;
			margin: 0.5em 1em;
		}

		&-other {
			@include mixins.placeholder;

			&-btn {
				@include mixins.btnStyles;
				height: fit-content;
				padding: 0.5em;
				margin: 1em 1em 1em 0;
			}
		}
	}
}
