@use './colors';
@use './simple';
@use './temperature';
@use './tip';
@use './icons';

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: colors.$dark;
	background-color: #eaeaea;
}

.wrapper {
	position: relative;
	// background-image: linear-gradient(135deg, #eacfd4, #c7daf6);
	background-image: linear-gradient(210deg, #b0f9a9, #17f9f2);
	height: 130vh;
	padding: 3em;
}

.header {
	&__title {
		text-align: center;
		font-size: 3rem;
		color: #b4136a;
	}
}

.type {
	margin-top: 1em;
	font-size: 1.5rem;

	&__calculator:hover {
		font-weight: bold;
	}
}

.score {
	&__window {
		display: flex;
		align-items: center;
		justify-content: end;
		height: 70px;
		margin-top: 1em;
		background-color: colors.$dark;
		color: colors.$dirty-white;
		font-size: 4rem;
	}
}

.hidden {
	display: none;
}
