@use './colors'; @use './simple';
@use './temperature';

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: colors.$dark;
	background-color: #eaeaea;
}

.wrapper {
	position: relative;
	background-color: colors.$light-red;
	height: 150vh;
	padding: 3em;
}

.header {
	&__title {
		text-align: center;
		font-size: 3rem;
	}
}

.type {
	// display: flex;
	margin-top: 1em;
	font-size: 1.5rem;

	&__calculator:hover {
		font-weight: bold;
	}
}

.score {
	&__window {
		display: flex;
		align-items: center;
		justify-content: end;
		height: 70px;
		margin-top: 1em;
		background-color: colors.$dark;
		color: colors.$dirty-white;
		font-size: 4rem;
	}
}
